<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        title Eval | Abdellah
    body
        form(action='/post/inscription', method='post')
            div
                label(for='login') Identifiant :
                input#login(type='text', name='login', required='')
            div
                label(for='mail') E-mail :
                input#mail(type='email', name='mail', required='')
            div
                label(for='mdp') Password :
                input#mdp(type='password', name='mdp', minlength='8', required='')
            button#enregistrer Envoyer
        footer
