<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        title Eval | Abdellah
    body
        header
            nav
                a(href="#") Item
                a(href="#") Item
                a(href="#") Item
                a(href="#") Item
                a(href="#") Item
        
        block content

        footer
            p Copyright &copy